In [20]:
import mysql.connector
import pandas as pd
import numpy as np
import datetime

In [15]:
db = mysql.connector.connect(user='root',
                   password='Fripouille13410',
                   host='localhost',
                   database='exopopp')

In [16]:
cur = db.cursor()

In [19]:
cur.execute("SELECT * FROM Address")

In [ ]:
# #HERE IS THE DATABASE STRUCTURE
# -- Create Country table
# CREATE TABLE Country (
#     country_id INT AUTO_INCREMENT PRIMARY KEY,
#     country_name VARCHAR(255) NOT NULL
# );

# -- Craeate Departement table
# CREATE TABLE Department(
#     department_id INT AUTO_INCREMENT PRIMARY KEY,
#     department_name VARCHAR(255) NOT NULL
# );

# -- Create City table
# CREATE TABLE City (
#     city_id INT AUTO_INCREMENT PRIMARY KEY,
#     city_name VARCHAR(255) NOT NULL,
#     country_id INT,
#     department_id INT,
#     FOREIGN KEY (country_id) REFERENCES Country(country_id),
#     FOREIGN KEY (department_id) REFERENCES Department(department_id)
# );

# -- Create Address table
# CREATE TABLE Address (
#     address_id INT AUTO_INCREMENT PRIMARY KEY,
#     house_number VARCHAR(10),
#     road_type VARCHAR(50),
#     road_name VARCHAR(255),
#     city_id INT,
#     country_id INT,
#     department_id INT,
#     FOREIGN KEY (city_id) REFERENCES City(city_id),
#     FOREIGN KEY (country_id) REFERENCES Country(country_id),
#     FOREIGN KEY (department_id) REFERENCES Department(department_id)
# );

# -- Create Person table
# CREATE TABLE Person (
#     person_id INT AUTO_INCREMENT PRIMARY KEY,
#     first_name VARCHAR(50) NOT NULL,
#     last_name VARCHAR(50) NOT NULL,
#     birthdate DATE,
#     birthplace_address_id INT,
#     residential_address_id INT,
#     job VARCHAR(255),
#     is_dead BOOLEAN NOT NULL DEFAULT false,
#     is_missing BOOLEAN NOT NULL DEFAULT false,
#     FOREIGN KEY (birthplace_address_id) REFERENCES Address(address_id),
#     FOREIGN KEY (residential_address_id) REFERENCES Address(address_id)
# );

# -- Create Marriage table
# CREATE TABLE Marriage (
#     marriage_id INT AUTO_INCREMENT PRIMARY KEY,
#     husband_id INT NOT NULL,
#     wife_id INT NOT NULL,
#     officier_id INT,
#     city VARCHAR(255) NOT NULL,
#     date DATE NOT NULL,
#     FOREIGN KEY (husband_id) REFERENCES Person(person_id),
#     FOREIGN KEY (wife_id) REFERENCES Person(person_id),
#     FOREIGN KEY (officier_id) REFERENCES Person(person_id)
# );

# -- Create Parent table
# CREATE TABLE Parent (
#     parent_id INT AUTO_INCREMENT PRIMARY KEY,
#     child_id INT NOT NULL,
#     father_id INT,
#     mother_id INT,
#     FOREIGN KEY (child_id) REFERENCES Person(person_id),
#     FOREIGN KEY (father_id) REFERENCES Person(person_id),
#     FOREIGN KEY (mother_id) REFERENCES Person(person_id)
# );

# -- Create Witness table
# CREATE TABLE Witness (
#     witness_id INT AUTO_INCREMENT PRIMARY KEY,
#     marriage_id INT NOT NULL,
#     person_id INT NOT NULL,
#     FOREIGN KEY (marriage_id) REFERENCES Marriage(marriage_id),
#     FOREIGN KEY (person_id) REFERENCES Person(person_id)
# );

# -- Create PreviousMarriage table
# CREATE TABLE PreviousMarriage (
#     previous_marriage_id INT AUTO_INCREMENT PRIMARY KEY,
#     person_id INT NOT NULL,
#     ex_id INT NOT NULL,
#     marriage_id INT NOT NULL,
#     FOREIGN KEY (person_id) REFERENCES Person(person_id),
#     FOREIGN KEY (ex_id) REFERENCES Person(person_id),
#     FOREIGN KEY (marriage_id) REFERENCES Marriage(marriage_id)
# );

In [22]:
act = {
        "Jour-mariage": "06",
        "Mois-mariage": "04",
        "Annee-mariage": "1940",
        "Heure-mariage": "11",
        "Minute-mariage": "05",
        "Prenom-mari": "Charles Georges Aubin",
        "Nom-mari": "BAQUET",
        "Profession-mari": "employ\u00e9 de commerce",
        "Ville-naissance-mari": "Br\u00e9tigny sur Orge",
        "Departement-naissance-mari": "Seine et Oise",
        "Pays-naissance-mari": "",
        "Jour-naissance-mari": "08",
        "Mois-naissance-mari": "06",
        "Annee-naissance-mari": "1917",
        "Age-mari": "22",
        "Ville-residence-mari": "Br\u00e9tigny sur Orge",
        "Departement-residence-mari": "",
        "Pays-residence-mari": "",
        "Numero-rue-residence-mari": "",
        "Type-rue-residence-mari": "rue",
        "Nom-rue-residence-mari": "Saint Pierre",
        "Prenom-pere-mari": "Georges",
        "Nom-pere-mari": "BAQUET",
        "Profession-pere-mari": "ma\u00e7on",
        "Ville-residence-pere-mari": "Br\u00e9tigny sur Orge",
        "Departement-residence-pere-mari": "",
        "Pays-residence-pere-mari": "",
        "Numero-rue-residence-pere-mari": "",
        "Type-rue-residence-pere-mari": "",
        "Nom-rue-residence-pere-mari": "",
        "Prenom-mere-mari": "Marie Madeleine",
        "Nom-mere-mari": "DALLOT",
        "Profession-mere-mari": "sans profession",
        "Ville-residence-mere-mari": "Br\u00e9tigny sur Orge",
        "Departement-residence-mere-mari": "",
        "Pays-residence-mere-mari": "",
        "Numero-rue-residence-mere-mari": "",
        "Type-rue-residence-mere-mari": "",
        "Nom-rue-residence-mere-mari": "",
        "Prenom-ex-epouse": "",
        "Nom-ex-epouse": "",
        "Prenom-mariee": "Marcelle Gabrielle",
        "Nom-mariee": "BORDEREAU",
        "Profession-mariee": "m\u00e9canographe",
        "Ville-naissance-mariee": "Paris, 14eme arrondissement",
        "Departement-naissance-mariee": "",
        "Pays-naissance-mariee": "",
        "Jour-naissance-mariee": "03",
        "Mois-naissance-mariee": "06",
        "Annee-naissance-mariee": "1916",
        "Age-mariee": "23",
        "Ville-residence-mariee": "Paris",
        "Departement-residence-mariee": "",
        "Pays-residence-mariee": "",
        "Numero-rue-residence-mariee": "17",
        "Type-rue-residence-mariee": "rue",
        "Nom-rue-residence-mariee": "des Halles",
        "Prenom-pere-mariee": "Henri Emile",
        "Nom-pere-mariee": "BORDEREAU",
        "Profession-pere-mariee": "employ\u00e9 de commerce",
        "Ville-residence-pere-mariee": "Paris",
        "Departement-residence-pere-mariee": "",
        "Pays-residence-pere-mariee": "",
        "Numero-rue-residence-pere-mariee": "17",
        "Type-rue-residence-pere-mariee": "rue",
        "Nom-rue-residence-pere-mariee": "des Halles",
        "Prenom-mere-mariee": "Suzanne",
        "Nom-mere-mariee": "TRONCART",
        "Profession-mere-mariee": "concierge",
        "Ville-residence-mere-mariee": "Paris",
        "Departement-residence-mere-mariee": "",
        "Pays-residence-mere-mariee": "",
        "Numero-rue-residence-mere-mariee": "17",
        "Type-rue-residence-mere-mariee": "rue",
        "Nom-rue-residence-mere-mariee": "des Halles",
        "Prenom-ex-epoux": "",
        "Nom-ex-epoux": "",
        "Prenom-temoin-0": "Charles",
        "Nom-temoin-0": "DALLOT",
        "Profession-temoin-0": "employ\u00e9 de commerce",
        "Age-temoin-0": "",
        "Numero-rue-residence-temoin-0": "11",
        "Type-rue-residence-temoin-0": "rue",
        "Nom-rue-residence-temoin-0": "du Parc",
        "Ville-residence-temoin-0": "Br\u00e9tigny sur Orge",
        "Departement-residence-temoin-0": "",
        "Prenom-temoin-1": "Simone",
        "Nom-temoin-1": "GOUBAUD",
        "Profession-temoin-1": "caissi\u00e8re",
        "Age-temoin-1": "",
        "Numero-rue-residence-temoin-1": "17",
        "Type-rue-residence-temoin-1": "rue",
        "Nom-rue-residence-temoin-1": "des Halles",
        "Ville-residence-temoin-1": "",
        "Departement-residence-temoin-1": "",
        "Prenom-adjoint-maire": "Charles Victor L\u00e9opold Ernest",
        "Nom-adjoint-maire": "Ch\u00e9deville",
        "Ville-mariage": "1er arrondissement de Paris",
        "Age-temoin": "",
        "Departement-residence-temoin": "",
        "Ville-residence-temoin": ""
    }

In [24]:
#Appelle la table Mariage et ajoute les données présentent dans act

#add-mariage() :
# - check if the mariage is already in the database. If it is, return the id of the mariage
# - if not, add the mariage to the database and return the id of the mariage like the following :

# - check which people (mari, mariee, temoin, pere, mere, adjoint) are already in the database. If they are, return their id
# - if not, add them to the database and return their id

# - check if the city of the mariage is already in the database. If it is, return its id
# - if not, add the city to the database and return its id

# - COnvert the date and time of the mariage to a datetime format

# - add the mariage to the database and return its id

#add-person() :
# - check if the person is already in the database. If it is, return its id
# - if not, add the person to the database and return its id.

#add-adresse() :
# - check if the adresse is already in the database. If it is, return its id
# - if not, add the adresse to the database and return its id.

#add-ville() :
# - check if the ville is already in the database. If it is, return its id
# - if not, add the ville to the database and return its id.

#add-departement() :
# - check if the departement is already in the database. If it is, return its id
# - if not, add the departement to the database and return its id.

#add-pays() :
# - check if the pays is already in the database. If it is, return its id
# - if not, add the pays to the database and return its id.

def add_pays(name):
    #check if the pays is already in the database. If it is, return its id
    check = cur.execute("SELECT id FROM Pays WHERE nom = ?", (name,)).fetchone()
    if check != None:
        return check[0]
    #if not, add the pays to the database and return its id
    cur.execute("INSERT INTO Pays (nom) VALUES (?)", (name,))
    return cur.lastrowid

def add_departement(name):




def add_mariage(act):
    #check if the mariage is already in the database (check with the date, the city and the adjoint)
    #if it is, return the id of the mariage

    check = cur.execute("SELECT id FROM Mariage WHERE date = ? AND ville = ? AND adjoint = ?", (act["Date-mariage"], act["Ville-mariage"], act["Prenom-adjoint-maire"] + " " + act["Nom-adjoint-maire"])).fetchone()
    if check != None:
        return check[0]
    
    #if not, add the mariage to the database and return the id of the mariage